html {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 14px;
}

body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
}


@media (min-width: 1000px) {
  html {
      font-size:16px
  }
}

.background-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(pur_bgr_bw.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* Prihlaseni */


nav {
      
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #658DB2;
  padding: 1rem 1rem;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  color: #FDC023;
}



@media (max-width: 700px) {
  nav ul {
      flex-direction: column;
  }
}



.login-form {
  background-color: #669ECD;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form label {
  margin-bottom: 5px;
  color: #ffffff;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.05em;
}

.login-form button {
  padding: 10px;
  background-color: #FAB400;
  color: #3E6182;
  border: none;
  cursor: pointer;
  font-size: 1.05em;

}

.login-form button:hover {
  background-color: #FDC023;
}


/* Formulář studenti */

.button-form {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.button-form label {
  margin-bottom: 5px;
  color: #ffffff;
}

.button-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.05em;
}

.button-form button {
  padding: 10px;
  background-color: #FAB400;
  color: #3E6182;
  border: none;
  cursor: pointer;
  font-size: 1.05em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-form button:hover {
  background-color: #FDC023;
}


/* Export */

.button-export {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.button-export input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.05em;
}

.button-export input {
  padding: 10px;
  background-color: #FAB400;
  color: #3E6182;
  border: none;
  cursor: pointer;
  font-size: 1.05em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-export input:hover {
  background-color: #FDC023;
}